body {
    font-family:Microsoft JhengHei, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
.navbar-brand{
    font-size: 25px;
}

p {font-size: 16px;}
.margin {margin-bottom: 25px;}
.margin-img {
    margin-top: 10px;
    margin-bottom: 10px;
}
.bg-1 {
    background-color: #ffb3b3; /* Green */
    color: #5c5c8a;
    margin-top: 44px;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 {
    background-color: #474e5d; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 20px;
    letter-spacing: 5px;
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.navbar-brand:hover {
    color: #1abc9c !important;
}
